:root {
	--PRIMARY_STRONG:                   #F07727;
	--COLOR_YELLOW_STR:                 #FECC2E;
	--COLOR_YELLOW_MED:                 #FFE596;
	--COLOR_YELLOW_SOF:                 #FFFAD2;
	--COLOR_BLUE_PRF: 					#282E56;
	--COLOR_LIGHT_50:                      #F07727;
	--COLOR_LIGHT_30:                      #bdf7f3;

	--INVISIBLE: #00000000;	
}
